<div class="container-fluid" *ngIf="userAuthService.getId() == null">
  <header id="header" class="header fixed-top">
    <div
      class="container-fluid container-xl d-flex align-items-center justify-content-between"
    >
      <a href="index.html" class="logo d-flex align-items-center">
        <span></span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="nav-link scrollto active" routerLink="/home">Acceuil</a>
          </li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li>
            <a class="nav-link scrollto" routerLink="/projets-pfe">Projets</a>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="#apropos">À Propos</a></li>

          <li>
            <div class="dropdown">
              <button
                class="getstarted dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                class="getstarted scrollto"
                *ngIf="!isLoggedIn()"
              >
                S'inscrire
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/register-encadrant"
                  >Encadrant</a
                >
                <a class="dropdown-item" routerLink="/register-etudiant"
                  >Etudiant</a
                >
              </div>
            </div>
          </li>

          <button
            class="getstarted dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            class="getstarted scrollto"
            (click)="logout()"
            *ngIf="isLoggedIn()"
          >
            Déconnexion
          </button>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->
</div>
