<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>
            Groupe de travail du sujet : <b>{{ sujet.titre }}</b>
          </h2>
        </div>

        <div class="card">
          <div class="card-header">
            <h3 class="text-center title-2">Details du projet PFE</h3>
          </div>
          <div class="card-body">
            <div class="table-wrap">
              <div class="table-responsive table-style1">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-primary">
                        <h5><b>Encadrant</b></h5>
                      </td>
                      <td>
                        <h5>
                          <b
                            >{{ sujet.encadrant.nom }}
                            {{ sujet.encadrant.prenom }}</b
                          >
                        </h5>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-primary">
                        <h5><b>Description</b></h5>
                      </td>
                      <td>
                        <h5>
                          <b>{{ sujet.description }}</b>
                        </h5>
                      </td>
                    </tr>
                    <tr *ngFor="let etud of groupe">
                      <td class="text-primary">
                        <h5>
                          <b>Membre {{ groupe.indexOf(etud) + 1 }}</b>
                        </h5>
                      </td>
                      <td>
                        <h5>
                          <b>{{ etud.nom }} {{ etud.prenom }}</b>
                        </h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <div class="container">
                  <h4 class="card-title"><b>Liste des Rendez vous</b></h4>
                  <button
                    class="btn btn-success"
                    type="submit"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    <span>Rendez vous</span>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <table class="table table-head-bg-primary mt-4">
                    <thead>
                      <tr>
                        <th scope="col">Sujet</th>
                        <th scope="col">Description</th>
                        <th scope="col">Statut de demande</th>
                        <th scope="col">Date et Heure Proposé</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="etudiant.groupe.lienDrive == null">
              <div class="card-header">
                <h4 class="card-title">
                  <b>Ajouter un dossier google drive</b>
                </h4>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <div class="form-group">
                    <h4 for="inputTitre"><b>Ajouter le lien:</b></h4>
                    <br />
                    <form class="row g-3" [formGroup]="formValue">
                      <div class="mb-3">
                        <input
                          type="text"
                          formControlName="lienDrive"
                          class="form-control"
                          id="inputTitre"
                        />
                        <br />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          (click)="AddLienDrive()"
                        >
                          Ajouter le lien
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="etudiant.groupe.lienDrive != null">
              <div class="card-header">
                <h4 class="card-title">
                  <b>Dossier google drive</b>
                </h4>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <a href="{{ etudiant.groupe.lienDrive }}" target="_blank"
                    >Lien dossier drive</a
                  >
                </div>
              </div>
            </div>
            -->
            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      <b>Prise de rendez vous</b>
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form class="row g-3" [formGroup]="formValue">
                      <div class="mb-3">
                        <label for="inputTitre" class="form-label"
                          >Sujet:</label
                        >
                        <input
                          type="text"
                          formControlName="sujet"
                          class="form-control"
                          id="inputTitre"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="inputDesc" class="form-label"
                          >Description</label
                        >
                        <textarea
                          formControlName="description"
                          class="form-control"
                          id="inputDesc"
                          aria-label="With textarea"
                        ></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-warning"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="AddRend()"
                    >
                      Priser
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <script>
          // Get the current date
          const today = new Date();

          // Set the min attribute to today's date
          const dateField = document.getElementById("date");
          dateField.min = today.toISOString().slice(0, 10);
        </script> -->
      </div>
    </div>
  </div>
</div>
